// colors

$color-white: #fff;
$color-black: #333333;
$color-black-light: #4F4F4F;

$color-primary: #56CCF2;
$color-primary-light: #79DBFB;
$color-primary-dark: #2D9CDB; 

$color-secondary: #E8BA2D; 
$color-secondary-light: #F2C94C;
$color-secondary-dark: #DDAD18;


// fonts

$default-font-size: 1.6rem;

// grid

$grid-horizontal-gutter: 2rem;
$grid-vertical-gutter: 3rem;

// header

$header-height: 7rem;