// colors

$color-white: #fff;
$color-black: #333333;
$color-black-light: #4F4F4F;

$color-red: #F14646;
$color-icon-1: #3CCB78;
$color-icon-2: #FF43CA;
$color-icon-3: #2F80ED;

$color-primary: #56CCF2;
$color-primary-light: #79DBFB;
$color-primary-dark: #2D9CDB;
$color-primary-darkest:rgb(32, 140, 202);

$color-secondary: #E8BA2D; 
$color-secondary-light: #F2C94C;
$color-secondary-dark: #DDAD18;


// fonts

$default-font-size: 1.6rem;

// grid

$grid-horizontal-gutter: 2rem;
$grid-vertical-gutter: 3rem;

// header

$header-height: 7rem;