@charset "UTF-8";

@font-face {
  font-family: "usual-cons";
  src:url("fonts/usual-cons.eot");
  src:url("fonts/usual-cons.eot?#iefix") format("embedded-opentype"),
    url("fonts/usual-cons.woff") format("woff"),
    url("fonts/usual-cons.ttf") format("truetype"),
    url("fonts/usual-cons.svg#usual-cons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "usual-cons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "usual-cons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\61";
}
.icon-left:before {
  content: "\62";
}
.icon-close:before {
  content: "\63";
}
.icon-instagram:before {
  content: "\64";
}
.icon-behance:before {
  content: "\65";
}
.icon-menu:before {
  content: "\66";
}
.icon-down:before {
  content: "\67";
}
.icon-up:before {
  content: "\68";
}
.icon-envelope:before {
  content: "\69";
}
.icon-phone:before {
  content: "\6a";
}
.icon-map:before {
  content: "\6b";
}
.icon-pin:before {
  content: "\6c";
}
.icon-facebook:before {
  content: "\6d";
}
.icon-twitter:before {
  content: "\6e";
}
.icon-linkedin:before {
  content: "\6f";
}
.icon-building:before {
  content: "\70";
}
.icon-star:before {
  content: "\71";
}
.icon-users:before {
  content: "\72";
}
.icon-plane:before {
  content: "\73";
}
.icon-plus:before {
  content: "\74";
}
.icon-minus:before {
  content: "\75";
}
.icon-dot:before {
  content: "\76";
}
.icon-square:before {
  content: "\77";
}
.icon-arrow-left:before {
  content: "\78";
}
.icon-settings:before {
  content: "\79";
}
.icon-user:before {
  content: "\7a";
}
.icon-gallery:before {
  content: "\41";
}
.icon-upload:before {
  content: "\42";
}
.icon-home:before {
  content: "\43";
}
.icon-iconfinder:before {
  content: "\44";
}
.icon-mylogo:before {
  content: "\45";
}
.icon-social-whatsapp:before {
  content: "\46";
}
.icon-globe-world:before {
  content: "\47";
}
.icon-github:before {
  content: "\48";
}
.icon-codepen:before {
  content: "\49";
}
.icon-search:before {
  content: "\4a";
}
.icon-heart-o:before {
  content: "\4b";
}
.icon-heart:before {
  content: "\4c";
}
.icon-guide:before {
  content: "\4d";
}
.icon-temp:before {
  content: "\4e";
}
.icon-life-span:before {
  content: "\4f";
}
.icon-location:before {
  content: "\50";
}
.icon-female-symbol-1:before {
  content: "\51";
}
.icon-female-symbol:before {
  content: "\52";
}
.icon-male-symbol:before {
  content: "\53";
}
.icon-height:before {
  content: "\54";
}
