.btn-add {
    height: 5rem;
    width: 5rem;
    background-color: $color-secondary;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.2rem;
    z-index: 10;
    border-radius: 40rem;
    transition: all .3s;

    &:hover {
        background-color: $color-secondary-dark;
    }

    i, i::before {
        display: block;
        margin: auto;
        color: white;
    }

    &--animated {
        right: -100% !important;
        transition: all .3s;
    }
}

.card:hover {
    .btn-add--animated {
        right: 10px !important;
    }
}