.decoration { // the blue banne thing on the back
    height: calc(100vh - #{$header-height}); //substracts the header height to fit vh
    width: 100%;
    position: fixed;
    top: calc(0 + #{$header-height}); // moves down the blue banner the amount of the header height
    left: 0;
    z-index: -10;
    
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $color-primary;
        clip-path: polygon(0 0, 0 0, 100% 100%, 0 100%);
    }
}