.slider {
    position: relative;
      

    &__items-container {
        overflow-y: hidden;  
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__items {
        padding: 3rem;
        display: inline-flex;
        // white-space: nowrap;
        // width: 100%;
        // min-width: 100%;
        // transform: translateX(-100%);
    }
}